@import "~/.config/rofi/colors"

configuration {
  show-icons: true;

  ml-row-left: "Left";
  ml-row-right: "Right";
}

* {
    margin:     0;
    padding:    0;
    spacing:    0;
}

window {
    location:   center;
    width:      900;
}

inputbar {
    spacing:    8px;
    padding:    8px;
}

prompt, entry, element-icon, element-text {
    vertical-align: 0.5;
}

textbox {
    padding:            8px;
}

listview {
    padding:    4px 0;
    lines:      4;
    columns:    4;

    fixed-height:   false;
}

element {
    padding:    8px;
    spacing:    8px;
}

element-icon {
    size:   10em;
}

element {
   children: [ element-icon ];
}
